@model ClassDrive.Models.CourseModel

@{ ViewData["Title"] = "Create"; }

@*<h1>Create</h1>*@

@*<h4>CourseModel</h4>*@
@*<hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CourseName" class="control-label"></label>
                    <input asp-for="CourseName" class="form-control" />
                    <span asp-validation-for="CourseName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CourseDescription" class="control-label"></label>
                    <input asp-for="CourseDescription" class="form-control" />
                    <span asp-validation-for="CourseDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CourseSchedule" class="control-label"></label>
                    <input asp-for="CourseSchedule" class="form-control" />
                    <span asp-validation-for="CourseSchedule" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>*@
<head>
    <style>
        body {
            height: 100%;
            background-color: #f2f2f2;
        }

        nav {
            background-color: #ffffff;
            height: 76px;
        }

        .navbar-brand {
            color: #4f4f4f;
            font-weight: 700;
        }

        .nav-link {
            color: #4f4f4f;
        }

        .card {
            border: none;
        }

        .form-icon .form-control {
            padding-left: 2.375rem;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            border-radius: 0%;
            color: #9C69E2;
        }

        .form-icon .form-control-feedback {
            position: absolute;
            z-index: 2;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.375rem;
            text-align: center;
            pointer-events: none;
            color: #9C69E2;
        }

        .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: rgba(156, 105, 226, 0.5);
            opacity: 1; /* Firefox */
        }

        .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: rgba(156, 105, 226, 0.5);
        }

        .form-control::-ms-input-placeholder { /* Microsoft Edge */
            color: rgba(156, 105, 226, 0.5);
        }

        input {
            color: #9C69E2;
        }

        .floated {
            float: left;
            margin-right: 5px;
        }

        .btn-save {
            background-color: #9C69E2;
            border: 2px solid #9C69E2;
            color: #ffffff;
            border-radius: 8px;
            width: 48%;
            float: right;
        }

        .btn-cancel {
            background-color: #ffffff;
            border: 2px solid #9C69E2;
            border-radius: 8px;
            color: #9C69E2;
            width: 48%;
        }
        .btn-text-outline {
            color: #9C69E2;
            text-decoration: none;
        }
    </style>
</head>
<div style="background-color: #F2F2F2;height: 100vh;">

    <div class="card mx-auto" style="width:98%; margin-top: 1%; margin-bottom:1%; height:87vh;">
        <div class="card-body container">
            <div class="row mt-4">
                <div class="col-6">
                    <div class="text-title mb-4">
                        <h4>New Class</h4>
                    </div>
                    <div class="pr-5">
                        <form asp-action="Create">
                            <div class="form-group form-icon">
                                <span class="fa fa-users form-control-feedback" asp-validation-for="CourseName"></span>
                                <input type="text" class="form-control" placeholder="Class's Name" asp-for="CourseName">
                            </div>
                            <div class="form-group form-icon">
                                <span class="fa fa-tasks form-control-feedback" asp-validation-for="CourseDescription"></span>
                                <input type="text" class="form-control" placeholder="Class's Detail" asp-for="CourseDescription">
                            </div>
                            <div class="form-group form-icon">
                                <span class="fa fa-calendar form-control-feedback" asp-validation-for="CourseSchedule"></span>
                                <input type="text" class="form-control" placeholder="Class's Schedule" asp-for="CourseSchedule">
                            </div>
                            <div class="form-group form-icon" style="display:none;">
                                <span class="fa fa-calendar form-control-feedback" asp-validation-for="CourseTeacher"></span>
                                <input type="text" class="form-control" placeholder="Class's Schedule" asp-for="CourseTeacher"  value="@User.Identity.Name">
                            </div>
                            <div class="card-button">
                                <button type="button" class="btn btn-cancel floated">@Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn-text-outline", @style = "text-decoration:none;" })</button>
                                <input type="submit" value="Save" class="btn btn-save floated" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-6">
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
